body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-image {
  padding: 20px;
  width: 30%;
  height: 30%;
}
